<launch>
  <!-- Maps and TESSE simulator interface -->
  <!-- include file="$(find final_challenge)/launch/maps.launch"/ -->
  <!-- include file="$(find tesse_ros_bridge)/launch/maps.launch"/ -->
  <include file="$(find tesse_ros_bridge)/launch/tesse_bridge.launch"/>

  <!-- Other things you may want to launch -->
  <include file="$(find localization)/launch/localize_tesse.launch"/>>
  <!-- include file="$(find path_planning)/launch/plan.launch"/ -->


  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_tf" args="0 0 0 0 0 0 base_link_gt base_link"/>


</launch>
